@use 'base/variables' as v;
@use 'base/mixins' as m;

.card{
    //background-color: v.$secundario;
    border-radius: 1rem;
    color: v.$blanco;
    font-family: v.$fuente_principal;
    font-size: 2rem;
    margin: 2rem;
    padding: 2rem;
    &__imagen{
        border-radius: 50%;
        height: 10rem;
        width: 10rem;
    }
    
    &__header{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        margin-bottom: 2rem;
    }

    &__usuario-valoracion{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}